@import './../styles.scss';

.page{
    height: 100%;
}

.title {
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    width: fit-content;

    & h1{
        color: $white;
        padding: 0 .12em;

        overflow: hidden; 
        border-right: .12em solid $gold;
        white-space: nowrap;
        margin: 0 auto;
        animation: 
          typing 4s steps(30, end),
          blink-caret .8s step-end infinite;
    }
} 

button{
    text-align: center;
    width: fit-content;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 0.5em ;
    font-weight: 500;
    &:hover:disabled, &:disabled{
        cursor: default;
        opacity: 0.7;
    }     
}

.content .body{
    width:600px;
    height:500px;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 2px 5px $rich-black;
}

.box{
    //position: relative;
    height: 100%;
    width: 100%;
    background-color: $white;
    border: none;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    //grid-template-rows: minmax(500px, 1fr);
    //grid-auto-rows: 500px;
}

.map{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;

    grid-area: 1 / 1 / 2 / 2;

    & iframe{
        height: 100%;
        width: 100%;
        border: 0;
    }

    & .loader{
        position: absolute;
        left: 0; 
        right: 0; 
        top: 0;
        bottom: 0;
        margin: auto auto; 
    }
}

.selection{
    //position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: $white;

    grid-area: 1 / 1 / 2 / 2;

    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: 4fr 1fr;
    grid-template-rows: 80% 1fr;

    & .selection-body{
        grid-area: 1 / 1 / 2 / 2;
        //height: 80%;
        //height: 55%;
        background-color: $white;
        box-shadow: 0 -1px 5px $color-12;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    
        & .loader{
            position: absolute;
            left: 0; 
            right: 0; 
            top: 0;
            bottom: 0;
            margin: auto auto; 
        }
    }

    & .selection-footer{
        grid-area: 2 / 1 / 3 / 2;
    }

    & .row{
        --bs-gutter-x: 2rem !important;
    }
}

.selection-header{
    position: absolute;
    left: 0.8em;
    top: 0.8em;
    height: 100%;
    width: auto;

    & h4{
        color: $rich-black;
    }
}

.selection-data{
    box-shadow: 0 2px 5px $color-12;
    background-color: $white;
    color: $blue-2;

    &:hover, &.active{
        cursor: pointer;
        color: $cool-white;
        background-color: $blue-2;
    }
}

.empty-section-body{
    font-size: 1.2rem;
    font-weight: 500;
    color: $canberry;
}

.form{
    //position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: $white;

    grid-area: 1 / 1/ 2 / 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & form{
        //position: absolute;
        // left: 0;
        // right: 0;
        // top: 0;
        grid-area: 1 / 1/ 2 / 2;
        margin: 0 0 !important;
        z-index: 4;
        height: 100%;
        width: 100%;

        & .row{
            padding: 0 1.3em !important;
        }

        & .row > *{
            padding: 0 0 !important;
        }
    }

    & .media { 
        grid-area: 1 / 1 / 2 / 2;
        margin: 0 0 !important;
        z-index: 3;
        position: relative;

        & video{
            overflow: hidden;
            //display: flex;
            position: absolute;
            //left: -5.2em;
            //grid-area: 1 / 1/ 2 / 2;
            margin: 0 0 !important;
            //z-index: 3;
            //height: 100%;
            //width: auto;
            // left: 0;
            // right: 0;
            //margin: auto auto !important;
        }
    }

    .form-control{
        border: none;
        box-shadow: inset 2px 2px 5px $color-11;

        &:focus{
            border-color: none;
            box-shadow: inset 2px 2px 5px $color-12;
        }
    }

    label{
        color: $blue-2;
    }

    .input-group{
        button{
            border: none;
            outline: none;
            margin: 0 0 ;
            color: $blue-2;
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
            background-color: $white;
            box-shadow: inset 0 2px 5px $color-11;
            &:hover{
                cursor: pointer;
                color: $blue-4;
                box-shadow: inset 0 2px 5px $color-12;
            }
        }
    }
}

.switch-btn{
    position: relative;
    z-index: 10;
    padding-bottom: 0.35em;
    background-color: $gold;
    box-shadow: inset 0 -1px 5px $color-12;

    overflow: hidden;

    & .weather{

        & img{
            height: 100%;
            width: auto;
            position: absolute;
            left: 0.5em;
            top: 0;
        }

        & span{
            position: absolute;
            left: 4.5em; 
            top: 0.8em;
            color: $cool-white;
            font-weight: 700;
        }
    }

    & ng-lottie{
        position: absolute;
        left: 0;
        top: -11.5em;
    }

    & button{
        margin: 0 0;
        padding: 0 0;
        overflow: hidden;
        &:disabled, &:hover:disabled{
            background-color: $gold;
            box-shadow: 0 2px 5px $black;
            cursor: default;
            opacity: 0.7;
        }

        font-size: 1.5em;
        background-color: $gold;
        box-shadow: 0 2px 5px $black;
        border-radius: 0.3em;
        &:hover{
            cursor: pointer;
            background-color: $golden-yellow;
            box-shadow: inset 0 2px 5px $black;
        }
    }
}

.form-footer{
    margin-top: 3em;
    margin-bottom: 1em;
}

.clear, .cancel {
    border-radius: 1em;
    color: $gold;
    background-color: $cool-white;
    box-shadow: 0 2px 5px $color-11;
    &:hover{
        color: $golden-yellow;
        box-shadow: inset 0 2px 5px $color-12;
    }   
}

.search, .confirm {
    border-radius: 1em;
    color: $cool-white;
    background-color: $gold;
    box-shadow: 0 2px 5px $color-11;
    &:hover{
        color: $white;
        background-color: $golden-yellow;
        box-shadow: inset 0 2px 5px $color-12;
    }
    &:disabled, &:hover:disabled{
        color: $cool-white;
        background-color: $gold;
        box-shadow: 0 2px 5px $color-11;
        cursor: default;
        opacity: 0.7;
    }
}

.form-credits{
    color: $blue-2;
    font-weight: 700;
    font-size: 0.5em;
}
